<div class="footer-page">
   <div class="row m-0 footer-top">
      <div class="col-md-12">
         <img id="devotedTransparentImage" src="../../assets/images/ProSafetyFooterLogo.svg">
         <div class="footer-logo-text">ProSafety d.o.o</div>
      </div>
   </div>
   <div class="row m-0 footer-content-container">
      <div class="col-md-6">
         <div class="footer-content">
            <table>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.fullName' | translate}}</strong></td>
                  <td class="company-information">ProSafety d.o.o.</td>
               </tr>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.address' | translate}}</strong></td>
                  <td class="company-information">Džemala Bijedića 131, 71000 Sarajevo</td>
               </tr>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.mbs' | translate}}</strong></td>
                  <td class="company-information">65-01-0499-19</td>
               </tr>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.id' | translate}}</strong></td>
                  <td class="company-information">4202669610005</td>
               </tr>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.pdv' | translate}}</strong></td>
                  <td class="company-information">202669610005</td>
               </tr>
               <br>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.email' | translate}}</strong></td>
                  <td class="company-information">info@prosafety.ba</td>
               </tr>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.phone' | translate}}</strong></td>
                  <td class="company-information">+387 33 959 070</td>
               </tr>
               <br>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.bankName' | translate}}</strong></td>
                  <td class="company-information">ProCredit Bank</td>
               </tr>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.trn' | translate}}</strong></td>
                  <td class="company-information">1941410115601281</td>
               </tr>
               <tr>
                  <td class="footer-title"><strong>{{'footerPage.iban' | translate}}</strong></td>
                  <td class="company-information">BA391941410115601281</td>
               </tr>
               <tr>
                  <td><strong>{{'footerPage.swift' | translate}}</strong></td>
                  <td class="company-information">MEBBBA22</td>
               </tr>
            </table>
         </div>
      </div>
      <div class="col-md-6 footer-right">
         <div class="footer-content">
            <!-- <div class="footer-text-container">
               <div class="footer-text">{{'footerPage.vision' | translate}}</div>
               <div>{{'footerPage.visionText' | translate}}</div>
               <br>
               <div class="footer-text">{{'footerPage.mission' | translate}}</div>
               <div>{{'footerPage.missionText' | translate}}</div>
               <br>
            </div> -->
            <div class="paragraph">
               <div class="footer-text">{{'footerPage.socialNetwork' | translate}}</div>
               <ul class="social-links">
                  <li>
                     <a href="https://www.linkedin.com/company/prosafety-d-o-o/" target="_blank"><i
                           class="fa fa-linkedin-square"></i></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>