<div class="about-page">
   <div class="row m-0">
      <div class="col-12 col-md-6 germany-banner">
         <div>
            <img id="germanyPicture" src="../../assets/images/GermanyStripes.png">
         </div>
      </div>
      <div class="col-12 col-md-4 col-xl-3 about-banner-text">
         <div class="about-title">{{'aboutPage.germanTitle' | translate}}</div>
         <div class="text-part fs-16">
            {{'aboutPage.germanText' | translate}}
         </div>
      </div>
      <div class="d-sm-none col-md-2 col-xl-3"></div>
   </div>
   <div class="row m-0 world-stripes">
      <div class="col-md-6 d-sm-none d-md-block"></div>
      <div class="col-12 col-md-4 col-xl-3 about-banner-text">
         <div class="about-title">{{'aboutPage.worldTitle' | translate}}</div>
         <div class="text-part fs-16">
            {{'aboutPage.worldTextPart1' | translate}}
         </div>
         <div class="text-part fs-16">
            {{'aboutPage.worldTextPart2' | translate}}
         </div>
      </div>
      <div class="d-sm-none d-md-block col-md-2 col-xl-3"></div>
   </div>
   <div class="row m-0">
      <div class="col-12 col-md-6 bosnia-banner">
         <img id="bosniaPicture" src="../../assets/images/BosniaStripes.png">
      </div>
      <div class="col-12 col-md-4 col-xl-3 about-banner-text">
         <div class="about-title">{{'aboutPage.bosniaTitle' | translate}}</div>
         <div class="text-part fs-16">
            {{'aboutPage.bosniaTextPart1' | translate}}
         </div>
         <div class="text-part fs-16">
            {{'aboutPage.bosniaTextPart2' | translate}}
         </div>
      </div>
      <div class="d-sm-none d-md-block col-md-2 col-xl-3"></div>
   </div>
</div>